body{
    margin: 0;
    background-image:url('https://images.pexels.com/photos/1292115/pexels-photo-1292115.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    text-align: center;
}
.header {
    background-color: black;
    height: 70px;
}
#brand {
    text-align: center;
    width: 40%;
    color: cornsilk;
    float: left;
}
a {
    color: cornsilk;
    text-decoration: none;
    margin-right: 30px;
}
#menu {
    text-align: center;
    width: 60%;
    float: right;
    line-height: 70px;
}
.main{
    margin: 150px;
}
img{
    width: 10%;
    height: 10%;
}
hr{
    width: 30%;
}
button{
    background-color: black;
    color: white;
}
#footer {
    text-align: center;
    background: black;
    color: cornsilk;
    padding: 20px;
    margin-top: 30%;
}

